* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #5f0b0b;
  color: white;
}

header img {
  width: 80px;
}

header h1 {
  margin-left: 10px;
}

.h1 {
  text-align: center;
}

.regform-title {
  margin-top: 50px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dropdown-container {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
}

.dropdown-container #campus {
  margin-bottom: 10px;
}

.dropdown-container select {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.personal-information {
  margin-left: -20px;
  margin-bottom: 20px;
}

.contact-details {
  margin-left: 50px;
  margin-bottom: 20px;
}

label:after {
  content:" *";
  color: red;
}

#_regions, #_provinces, #_cities {
  display: none;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"], input[type="button"] {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #5f0b0b;
  color: white;
}

/* The message box is shown when the user clicks on the password field */
#passwordMessage {
  display:none;
  color: #000;
  position: relative;
  padding: 10px;
  margin-left: 10px;
}

#matchMessage {
  display:none;
  color: #000;
  position: relative;
  padding: 10px;
  margin-left: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -15px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -15px;
  content: "✖";
}

footer div {
  position: block;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  background-color: #5f0b0b;
  color: white;
}