* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #5f0b0b;
  color: white;
}

header img {
  width: 80px;
}

header h1 {
  margin-left: 10px;
}

.form-container {
  width: 40%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 150px;
}

.form-container h1 {
  text-align: center;
}

#first_form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#first_form h2, #second_form h2, #third_form h2 {
  margin-bottom: 20px;
}


#first_form .button input {
  width: 100px;
  padding: 10px;
  margin-left: 45%;
}

#second_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  width: 100%;
}

#second_form .container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: 100%;
}

#second_form .first-column, #second_form .second-column {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
}

#second_form .button input {
  width: 20%;
  padding: 10px;
}

#second_form .button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#third_form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#third_form .first-column, #third_form .second-column {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
}

#third_form .button input {
  width: 20%;
  padding: 10px;
  margin-left: 28%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"], input[type="button"] {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: white;
}

footer div {
  position: absolute;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  background-color: #5f0b0b;
  color: white;
  bottom: 0;
}